# Groq Cloud API Key - For running Llama 3 models
# Get it from: https://console.groq.com/keys
GROQ_API_KEY=your_groq_api_key_here

# Hugging Face Access Token - For converting text to vector embeddings
# Get it from: https://huggingface.co/settings/tokens
HF_TOKEN=your_huggingface_token_here



TAVILY_API_KEY=your_tavily_api_key_here