langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-qdrant
langchain-text-splitters
langgraph
pypdf
python-dotenv
qdrant-client[fastembed]
huggingface-hub
sentence-transformers
streamlit

fastapi
uvicorn[standard]
python-multipart
aiofiles
watchdog
