langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-qdrant
langchain-text-splitters
langchain-experimental
pypdf
python-dotenv
qdrant-client[fastembed]
huggingface-hub
sentence-transformers

fastapi
uvicorn[standard]
python-multipart
aiofiles
